<p>Cats list:</p>
{{range .Db}}
<li class="flex hover:bg-green-300/10 m-0 mb-4 rounded-sm shadow-lg cursor-pointer"
		hx-get="/htmx/cats/{{.Name}}" hx-target="#details" hx-swap="innerHTML">
	<b class="w-1/2 flex-grow p-4 {{if eq .Name $.Current}}font-extrabold{{end}}">{{.Name}}</b>

	<button hx-delete="/htmx/cats/{{.Name}}" hx-target="closest li" hx-swap="outerHTML swap:1s" hx-trigger="click consume"
	class="text-lg p-4 hover:bg-green-300/10">🗑️</button>
</li>
{{end}}
